name: Publish to TestPyPI

on:
  workflow_dispatch:



permissions:
  contents: read
  id-token: write # Required for trusted publishing

jobs:
  publish-testpypi:
    name: Publish to TestPyPI
    runs-on: ubuntu-latest
    environment:
      name: testpypi
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Build
        run: uv build

      - name: Publish to TestPyPI
        run: uv publish --index testpypi
